// Primary
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);

// Secondary
$gray: hsl(0, 0%, 75%);
$grayis-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
$white: hsl(0, 0, 100%);
$main-bg: #EFF1F7;

// Body Copy
$body-size: 18px;

// Fonts
$family: "Poppins", sans-serif;
